body {
  background: url('imgs/tileable_backdrop.jpg');
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    margin-top: 21.5px;
    margin-bottom: 21.5px;
    padding-left: 5px;
}

hr {
    margin-top: 1px;
    margin-bottom: 1px;
}

.body {
    margin: 0 auto;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    background-color: #AAAAAA;
    border: 5px ridge #CCCCCC;
}

footer {
    width: calc(100vw - 100px);
    margin: 0 auto;
    color: white;
}

.wink {
    width: 16px;
    height: 16px;
}